{
  "singleQuote": true,
  "trailingComma": "all",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@nestjs/(.*)$",
    "^/.*.module$",
    "^/.*.controller$",
    "^/.*.resolver$",
    "^.*.service$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderParserPlugins" : ["classProperties", "decorators-legacy"]
}
